.main-footer {
  height:60px;
  display:flex; 

  margin-top: 1em;
  margin-bottom:0.5em;
  
  .tag { height:20px; 

    flex:1;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color:lighten($text, 10%);
    a{color:lighten($text, 15%);}
      
    @include cabin(0.7em, 700);
    @include mappy-bp(large) { 
    padding-left:50px;
    @include cabin(0.9em, 700);
    a{color:lighten($text, 10%);}
      }
    }
    .social {

     margin-top: auto;
     padding-right: 0.5em;

     ul{
      display: flex;
      justify-content:flex-end; 
      list-style: none;  
      li {width: 50px; height: 50px; margin:0 2px;
        border-radius:50%;
        color:$text;
        font-size: 1.7em;
        display: flex;
        align-items:center;
        justify-content: center;
        @include mappy-bp(large) {
         border: 3px solid $text;
        
        font-size: 2em;
         }
        }
       }
     }
}