#top {display:flex; align-items: center; padding:0 1rem;}
#top {
  height:100px;
  flex-wrap: wrap;
  
  justify-content: space-around;

  .logo {height: 100px; width: 75px;
          margin-right:auto; 
         background: url("../../images/logo.svg") no-repeat;
         flex:1;
          }
      .top{
        @include lunch(2em, 700);
        flex:1;
        
        
        a {text-decoration:none; color:$light-blue;}
        ul{justify-content:space-between;
           list-style-type: none;
           display: flex;
           flex-wrap: wrap; 
           margin-top: auto;
           margin-bottom: auto;
          li{ flex:1 0 50%; text-align:center;}
          @include mappy-bp(large) {
            
            margin-left:auto;
              max-width:span(7);
            li {flex:1; padding:0 0.6rem; 
              
            }
             
          }
          
        }
      
      }
}