
.main 
  h1 {
  font: 1.7rem/1.8rem 'Lunchbox', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: $yellow;
  margin:0 0.2em 0.4rem ;
  @include mappy-bp(large) {
    flex:1; min-width:100%;
    @include heading-size(5);
    margin: 0.5rem 0;
    height:1em;  
       }
  h2 { @include heading-size(5); color: lighten($bg, 40%); font: 'Lunchbox', Helvetica, Arial, sans-serif;}
}

.screenshot {justify-content:center;}
.contact,
.screenshot, 
.description{flex:1 0 0; min-width:25%; 
              padding: 0 0.5em;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              img{max-width:100%;}
              @include cabin(1.2em, 400);
              color: lighten($bg, 70%);
              @include mappy-bp(large) {
              min-height: 350px;
               }
              .demo {min-width:100%; margin-top:auto;}
              }
